<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoginFunctionality">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
		<listener class-name="com.listeners.CudstomListener"></listener>
	</listeners>

	<test name="Test1">

		<classes>
			<class name="com.testcases.GmailLogin" />


		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
